<div class="control-group">
  <label class="control-label" for="{{ form.category.auto_id }}">
    {{ form.category.label }}*</label>
  <div class="controls">
    {{ form.category }}
    <div class="text-error">{{ form.category.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.flis_topic.auto_id }}">
    {{ form.flis_topic.label }}*</label>
  <div class="controls">
    {{ form.flis_topic }}
    <div class="text-error">{{ form.flis_topic.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.themes.auto_id }}">
    {{ form.theme.label }}</label>
  <div class="controls">
    {{ form.theme }}
    <div class="text-error">{{ form.theme.errors }}</div>
  </div>
</div>
