{% extends "layout.html" %}
{% load utils %}


{% block extra_head %}

  <style type="text/css">
    th {
      width: 180px;
    }
  </style>

{% endblock %}


{% block scripts %}

  <script>
    $(function () {
      $('.delete').on('click', function (e) {
        e.preventDefault();
        if(!confirm('Are you sure you want to delete this catalogue?')) {
          return
        }
        $.ajax({
          'type': 'DELETE',
          'url': $(this).attr('href'),
          'success': function (resp) {
            window.location.replace(resp.url);
          }
        });
      });
    });
  </script>

{% endblock %}


{% block content %}

  <h2>{{ catalogue.kind_verbose }} - {{ catalogue.subject }}</h2>

  {% if catalogue.user_id == request.user_id %}
    <div class="options">
      <a href="{% url 'catalogue_edit' pk=catalogue.pk kind=catalogue.kind %}" class="btn">
        Edit {{ catalogue.kind }}
      </a>
      <a href="{% url 'catalogue_delete' pk=catalogue.pk kind=catalogue.kind %}" class="btn btn-danger delete">
        Delete {{ catalogue.kind }}
      </a>
    </div>
  {% endif %}

  <table class="table table-bordered">

    <tbody>
      <tr>
        <th>{{ form.categories.label }}</th>
        <td>
          <ul class="unstyled">
            {% for categ in catalogue.categories.all %}
              <li>{{ categ }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>

      <tr>
        <th>{{ form.flis_topics.label }}</th>
        <td>
          <ul class="unstyled">
            {% for flis_topic in catalogue.flis_topics.all %}
              <li>{{ flis_topic }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>

      <tr>
        <th>{{ form.themes.label }}</th>
        <td>
          <ul class="unstyled">
            {% for theme in catalogue.themes.all %}
              <li>{{ theme }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>

      <tr>
        <th>{{ form.subject.label }}</th>
        <td>{{ catalogue.subject }}</td>
      </tr>

      <tr>
        <th>{{ form.description.label }}</th>
        <td>{{ catalogue.description }}</td>
      </tr>

      <tr>
        <th>{{ form.type_of.label }}</th>
        <td>{{ catalogue.type_of_verbose }}</td>
      </tr>

      <tr>
        <th>{{ form.status.label }}</th>
        <td>{{ catalogue.status_verbose }}</td>
      </tr>

      {% if catalogue.need_urgent %}
          <tr>
            <th colspan="2">This is an urgend need</th>
          </tr>
      {% endif %}

      <tr>
        <th colspan="2" style="text-align:center;">Contact information</th>
      </tr>

      <tr>
        <th>{{ form.contact_person.label }}</th>
        <td>{{ catalogue.contact_person }}</td>
      </tr>

      <tr>
        <th>{{ form.email.label }}</th>
        <td>{{ catalogue.email }}</td>
      </tr>

      <tr>
        <th>{{ form.phone_number.label }}</th>
        <td>{{ catalogue.phone_number }}</td>
      </tr>

      <tr>
        <th>{{ form.institution.label }}</th>
        <td>{{ catalogue.institution }}</td>
      </tr>

      <tr>
        <th>{{ form.address.label }}</th>
        <td>{{ catalogue.address }}</td>
      </tr>

      <tr>
        <th>{{ form.country.label }}</th>
        <td>{{ catalogue.country_verbose }}</td>
      </tr>

      <tr>
        <th>{{ form.url.label }}</th>
        <td><a target="_blank" href="{{ catalogue.url }}">{{ catalogue.url }}</a></td>
      </tr>

      <tr>
        <th>{{ form.info.label }}</th>
        <td>{{ catalogue.info }}</td>
      </tr>

      <tr>
        <th>{{ form.documents.label }}</th>
        <td>
          {% for doc in catalogue.documents.all %}
            {% if doc.name %}
              <div>
                <a href="{{ doc.name.url }}">{{ doc.name|filename }}</a>
              </div>
            {% endif %}
          {% endfor %}
        </td>
      </tr>

    </tbody>

  </table>

{% endblock %}
