{% extends "layout.html" %}
{% load widget_tweaks %}


{% block content %}

  {% if form.KIND == 'need' %}
    {% if catalogue %}
      <h2>Edit need</h2>
    {% else %}
      <h2>New need</h2>
    {% endif %}
  {% else %}
    {% if catalogue %}
      <h2>Edit offer</h2>
    {% else %}
      <h2>New offer</h2>
    {% endif %}
  {% endif %}

  <form class="form-horizontal" method="POST">
    {% include "catalogue_form_general.html" %}

    {% if form.KIND == 'need' %}
      <h4>Details about the need</h4>
    {% else %}
      <h4>Details about the offer</h4>
    {% endif %}

    {% include "catalogue_form_details.html" %}

    {% if form.resources %}
      <div class="control-group">
        <label class="control-label" for="{{ form.geographic_scope.auto_id }}">
          {{ form.resources.label }}</label>
        <div class="controls">
          {% render_field form.resources class="input-xxlarge" rows=5 %}
          <div class="text-error">{{ form.resources.errors }}</div>
        </div>
      </div>
    {% endif %}

    <div class="control-group">
      <label class="control-label" for="{{ form.geographic_scope.auto_id }}">
        {{ form.geographic_scope.label }}</label>
      <div class="controls">
        {{ form.geographic_scope }}
        <div class="text-error">{{ form.geographic_scope.errors }}</div>
      </div>
    </div>

    {% if form.need_urgent %}
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <label>{{ form.need_urgent }} {{ form.need_urgent.label }}</label>
          <div class="text-error">{{ form.need_urgent.errors }}</div>
        </div>
      </div>
    {% endif %}

    {% include "catalogue_form_contact.html" %}

    {% include "catalogue_form_perms.html" %}

    {% include "catalogue_form_footer.html" %}

  </form>

{% endblock %}
