{% extends "layout.html" %}


{% block extra_head %}

  <style type="text/css">
    th {
      width: 180px;
    }
  </style>

  <script>
    $(function () {
      $('.delete').on('click', function (e) {
        e.preventDefault();
        if(!confirm('Are you sure you want to delete this catalogue?')) {
          return
        }
        $.ajax({
          'type': 'DELETE',
          'url': $(this).attr('href'),
          'success': function (resp) {
            window.location.replace(resp.url);
          }
        });
      });
    });
  </script>

{% endblock %}


{% block content %}

  <h2>{{ catalogue.kind_verbose }} - {{ catalogue.title }}</h2>

  {% if catalogue.user_id == request.user_id %}
    <div class="options">
      <a href="{% url 'catalogue_edit' pk=catalogue.pk kind=catalogue.kind %}" class="btn">
        Edit {{ catalogue.kind }}
      </a>
      <a href="{% url 'catalogue_delete' pk=catalogue.pk kind=catalogue.kind %}" class="btn btn-danger delete">
        Delete {{ catalogue.kind }}
      </a>
    </div>
  {% endif %}

  <table class="table table-bordered">

    <tbody>
      <tr>
        <th>{{ form.category.label }}</th>
        <td>{{ catalogue.category_verbose }}</td>
      </tr>

      <tr>
        <th>{{ form.flis_topic.label }}</th>
        <td>{{ catalogue.flis_topic_verbose }}</td>
      </tr>

      <tr>
        <th>{{ form.theme.label }}</th>
        <td>{{ catalogue.theme_verbose }}</td>
      </tr>

      <tr>
        <th>{{ form.title.label }}</th>
        <td>{{ catalogue.title }}</td>
      </tr>

      <tr>
        <th>{{ form.description.label }}</th>
        <td>{{ catalogue.description }}</td>
      </tr>

      <tr>
        <th>{{ form.keywords.label }}</th>
        <td>
            <ul>
                {% for keyword in catalogue.keywords.all %}
                  <li>{{ keyword }}</li>
                {% endfor %}
            </ul>
        </td>
      </tr>
    </tbody>

      <tr>
        <th>{{ form.status.label }}</th>
        <td>{{ catalogue.status_verbose }}</td>
      </tr>

      <tr>
        <th>{{ form.geographic_scope.label }}</th>
        <td>{{ catalogue.geographic_scope_verbose }}</td>
      </tr>

      <tr>
        <th>{{ form.start_date.label }}</th>
        <td>{{ catalogue.start_date }}</td>
      </tr>

      <tr>
        <th>{{ form.end_date.label }}</th>
        <td>{{ catalogue.end_date }}</td>
      </tr>

      {% if catalogue.need_urgent %}
          <tr>
            <th colspan="2">This is an urgend need</th>
          </tr>
      {% endif %}

  </table>

{% endblock %}
