{% load widget_tweaks %}

<div class="control-group">
  <label class="control-label" for="{{ form.title.auto_id }}">
    {{ form.title.label }}*</label>
  <div class="controls">
    {% render_field form.title class="input-xxlarge" %}
    <div class="text-error">{{ form.title.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.description.auto_id }}">
    {{ form.description.label }}</label>
  <div class="controls">
    {% render_field form.description class="input-xxlarge" rows=5 %}
    <div class="text-error">{{ form.description.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.status.auto_id }}">
    {{ form.status.label }}</label>
  <div class="controls">
    {{ form.status }}
    <div class="text-error">{{ form.status.errors }}</div>
  </div>
</div>
