{% load widget_tweaks %}

<div class="control-group">
  <label class="control-label" for="{{ form.categories.auto_id }}">
    {{ form.categories.label }}*</label>
  <div class="controls">
    {{ form.categories|add_class:'select input-xxlarge' }}
    <div class="text-error">{{ form.categories.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.flis_topics.auto_id }}">
    {{ form.flis_topics.label }}*</label>
  <div class="controls">
    {{ form.flis_topics|add_class:'select input-xxlarge' }}
    <div class="text-error">{{ form.flis_topics.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.themes.auto_id }}">
    {{ form.themes.label }}</label>
  <div class="controls">
    {{ form.themes|add_class:'select input-xxlarge' }}
    <div class="text-error">{{ form.themes.errors }}</div>
  </div>
</div>
