{% load utils %}

<table class="table table-bordered" data-toggle="datatable">

  <thead>
    <tr>
      <th>Category</th>
      <th>Subject</th>
      <th>Latest update</th>
      <th>Country</th>
      <th>Categories</th>
      <th>Flis topics</th>
      {% if show_status %}
        <th>Status</th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for catalogue in catalogues %}
    <tr class="{{ catalogue.kind }}">
      <td>{{ catalogue.kind_verbose }}</td>
      {% url 'catalogue_view' pk=catalogue.pk kind=catalogue.kind as catalogue_view_url %}
      <td>
        <a href="{{ catalogue_view_url }}">
          {{ catalogue.subject }}
        </a>
        {% if catalogue.need_urgent %}
          <br>
          <span class="urgent"><b>Urgent</b></span>
        {% endif %}
      </td>
      {% with date=catalogue.last_updated %}
      <td data-timestamp="{{ date|datetime_to_timestamp }}">{{ date }}</td>
      {% endwith %}
      <td>{{ catalogue.country }}</td>
      <td>
        <ul style="margin-left: 11px;">
          {% for categ in catalogue.categories.all %}
            <li>{{ categ }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <ul style="margin-left: 11px;">
          {% for flis_topic in catalogue.flis_topics.all %}
            <li>{{ flis_topic }}</li>
          {% endfor %}
        </ul>
      </td>
      {% if show_status %}
        <td>
          {% if catalogue.status == catalogue.DRAFT %}Draft
          {% else %}Final{% endif %}
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>

</table>
