<form id="catalogue-filter" class="catalogue-filter">

  <div class="row">

    <div class="span4">
      <label>
        <b>{{ filter_form.kind.label }}</b> {{ filter_form.kind }}</label>
    </div>

    <div class="span4">
      <label>
        <b>{{ filter_form.flis_topic.label }}</b> {{ filter_form.flis_topic }}</label>
    </div>

    <div class="span4" style="text-align: right;">
      <label>
        <b class="range-label">{{ filter_form.date_range.label }}</b> {{ filter_form.date_range }}</label>
    </div>

  </div>

</form>
