{% extends "layout.html" %}

{% block content %}

  <p>Live Catalogue is a tool for communicating and networking within the EIONET NRC FLIS community. It provides information selected by experts that may be of interest to the community, such as projects, training, reports, requests for collaboration, tenders, open calls, contracts, support documents, articles and news.</p>
  <p>Live Catalogue is not a discussion forum but does provide a basis for the NRC FLIS community to select topics for further examination and work.</p>

  {% include "filters.html" %}

  {% include "entry_list.html" %}

{% endblock %}
