{% extends "frame.html" %}
{% load assets %}


{% block head %}

  <meta charset="utf-8">
  <title>Live Catalogue</title>

  {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}

  {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block extra_head %}{% endblock %}

{% endblock %}


{% block flis_content %}
  <script>
      //Overwrite the came_from value for a correct redirect
      $('a[href^="http://projects.eionet.europa.eu/flis-services-project/login_html?came_from"]')
          .attr('href', 'http://projects.eionet.europa.eu/flis-services-project/login/login_form?disable_cookie_login__=1&came_from='+$(location).attr('href'));
      $('.breadcrumbitemlast a').removeAttr('href');
  </script>

  <div class="container">
    <div class="header">

      <div class="logo text-right">
        <a href="{% url 'home' %}">
          <img src="{{ settings.HOSTNAME }}/static/img/logo.jpg" width="90" height="100" alt="Live Catalogue">
         </a>
      </div>

      <div class="title">
        <h1>
          Live catalogue of offers and needs for foward looking information
        </h1>
      </div>

    </div>
    {% include "nav_tabs.html" %}

    {% if messages %}
    <div class="messages">
    {% for message in messages %}
       <p class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
           {{ message }}</p>
    {% endfor %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}
  </div>

{% endblock %}
