{% load utils %}

<ul class="nav nav-tabs">

  <li class="{% active '$' %}">
    <a href="{% url 'home' %}">Home</a>
  </li>

  <li class="{% active 'closed' %}">
    <a href="{% url 'closed' %}">Closed entries</a>
  </li>

  <li class="{% active 'need' %}">
    <a href="{% url 'catalogue_add' kind='need' %}">New need</a>
  </li>

  <li class="{% active 'offer' %}">
    <a href="{% url 'catalogue_add' kind='offer' %}">New Offer</a>
  </li>

  <li class="{% active 'my' %}">
    <a href="{% url 'my_entries' %}">My Entries</a>
  </li>

  <li class="{% active 'notifications' %}">
    <a href="{% url 'notifications:home' %}">Notifications</a>
  </li>

  {% is_admin as is_admin %}
  {% if is_admin %}

    <li class="pull-right">
      <div class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        Settings <span class="caret"></span></a>

      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li>
          <a href="{% url 'settings:categories' %}" tabindex="-1">
            Categories
          </a>
        </li>
      </ul>
      </div>
    </li>
  {% endif %}

</ul>
