{% extends "layout.html" %}

{% block content %}

  <h2>{{ page_title }}</h2>

  <div class="actions">
    <a href="{{ add_url }}" class="btn btn-primary">
      {{ add_label }}
    </a>
  </div>

  {% if object_list %}

    <table id="settings" width="100%"
           class="table table-condensed table-bordered table-hover sortable"
           data-url="{% url 'settings:update_order' setting_name='topic' %}">

      <thead>
        <tr>
          <th class="handler"></th>
          <th>Title</th>
        </tr>
      </thead>

      <tbody>
        {% for object in object_list %}

           <tr id="items_{{ object.pk }}">
            <td class="handler" width="20">
              <span class="glyphicon glyphicon-align-justify"></span>
            </td>
            <td>
              <a href="{% url edit_route_name pk=object.handle %}">
                {{ object.title }}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>

    </table>

  {% endif %}

{% endblock %}
