a {
    cursor: pointer;
}

.container {
    padding-top: 10px;
}

.need td {
    background: #f0f7e6;
}

.offer td {
    background: #f0f3fa;
}

.draft td {
    background: #f6e3e4;
}

.options {
    padding-bottom: 15px;
}

.catalogue-filter {
    padding-top: 20px;
    position: relative;
}
.catalogue-filter label b {
    padding-right: 10px;
    position: relative;
    top: 2px;
}
.catalogue-filter label b.range-label {
    top: -4px;
}
.catalogue-filter .daterangepicker {
    left: 674px!important;
    width: 460px;
    top: 37px;
}
.catalogue-filter .daterangepicker .daterangepicker_start_input,
.catalogue-filter .daterangepicker .daterangepicker_end_input {
    display: none;
}
.catalogue-filter .daterangepicker .ranges {
    text-align: right;
}
.catalogue-filter .daterangepicker.opensright:after {
    left: 437px;
}
.catalogue-filter .daterangepicker.opensright:before {
    left: 436px;
}

.dataTables_filter {
    text-align: right;
}
 .pagination {
    text-align: right;
}
.dataTable .sorting,
.dataTable .sorting_asc,
.dataTable .sorting_desc,
.dataTable .sorting_asc_disabled,
.dataTable .sorting_desc_disabled {
    cursor: pointer;
}
.dataTable .sorting { background: url('../js/datatables/images/sort_both.png') no-repeat center right; }
.dataTable .sorting_asc { background: url('../js/datatables/images/sort_asc.png') no-repeat center right; }
.dataTable .sorting_desc { background: url('../js/datatables/images/sort_desc.png') no-repeat center right; }

.dataTable .sorting_asc_disabled { background: url('../js/datatables/images/sort_asc_disabled.png') no-repeat center right; }
.dataTable .sorting_desc_disabled { background: url('../js/datatables/images/sort_desc_disabled.png') no-repeat center right; }

.document-container {
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 10px;
}
.document-container:last-of-type {
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
}
.document-container .remove {
    font-size: 11px;
    color: red;
}
.document-container .fix-label {
    padding-top: 8px;
    display: inline;
}
.document-container .fix-label input {
    position: relative;
    top: -3px;
}
.document-container .input {
    margin-top: 10px;
}

.control-label .popover {
    margin-top: 10px;
}

@-moz-document url-prefix() {
     .control-label .popover .arrow {
        border-top-color: transparent!important;
        bottom: -10px;
    }
}

