{% load widget_tweaks %}
{% load utils %}

<h4>Contact information</h4>

<div class="control-group">
  <label class="control-label" for="{{ form.contact_person.auto_id }}">
    <span id="contact-person-label"
          data-toggle="popover" data-placement="top"
          data-content="{{ form.contact_person.help_text }}"
          data-container="#contact-person-label">
      {{ form.contact_person.label }}*
    </span>
  </label>
  <div class="controls">
    {% render_field form.contact_person class="input-xxlarge" %}
    <div class="text-error">{{ form.contact_person.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.email.auto_id }}">
    <span id="">
      {{ form.email.label }}*
    </span>
  </label>
  <div class="controls">
    {% render_field form.email class="input-xxlarge" %}
    <div class="text-error">{{ form.email.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.phone_number.auto_id }}">
    {{ form.phone_number.label }}</label>
  <div class="controls">
    {% render_field form.phone_number class="input-xxlarge" %}
    <div class="text-error">{{ form.phone_number.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.institution.auto_id }}">
    {{ form.institution.label }}*</label>
  <div class="controls">
    {% render_field form.institution class="input-xxlarge" %}
    <div class="text-error">{{ form.institution.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.address.auto_id }}">
    {{ form.address.label }}</label>
  <div class="controls">
    {% render_field form.address class="input-xxlarge" rows=5 %}
    <div class="text-error">{{ form.address.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.country.auto_id }}">
    {{ form.country.label }}*</label>
  <div class="controls">
    {% render_field form.country class="select input-xxlarge" rows=5 %}
    <div class="text-error">{{ form.country.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.url.auto_id }}">
    {{ form.url.label }}</label>
  <div class="controls">
    {% render_field form.url class="input-xxlarge" %}
    <div class="text-error">{{ form.url.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.info.auto_id }}">
    {{ form.info.label }}</label>
  <div class="controls">
    {% render_field form.info class="input-xxlarge" rows=5 %}
    <div class="text-error">{{ form.info.errors }}</div>
  </div>
</div>

{{ document_formset.management_form }}

<div id="documents-container" class="control-group">
  <label class="control-label">
   <span id="documents-label"
         data-toggle="popover" data-placement="top"
         data-content="{{ form.documents.help_text }}"
         data-container="#documents-label">
     Documents
   </span>
  </label>
  <div class="controls">

    {% if catalogue %}
      {% for doc in catalogue.documents.all %}
        <div class="document-container">
          <a href="{{ doc.name.url }}">{{ doc.name|filename }}</a>
          <span>
            {% url 'catalogue_document_delete' catalogue_id=catalogue.pk doc_id=doc.pk as doc_delete_url %}
            <a data-href="{{ doc_delete_url }}" class="remove">Remove</a>
          </span>
        </div>
      {% endfor %}
    {% endif %}

    {% for document_form in document_formset %}
      <div class="document-container document-container-upload">
        {{ document_form.name }}
        <div class="text-error">{{ document_form.name.errors }}</div>
      </div>
    {% endfor %}
    <a id="document-add">Add a new document</a>
  </div>
</div>
