{% load widget_tweaks %}


<div class="control-group">
  <label class="control-label" for="{{ form.subject.auto_id }}">
    <span id="subject-label" data-toggle="popover" data-placement="top"
         data-content="Title indicating the key essence of the offer"
         data-container="#subject-label">
         {{ form.subject.label }}*
    </span>
  </label>
  <div class="controls">
    {{ form.subject|add_class:"input-xxlarge" }}
    <div class="text-error">{{ form.subject.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.description.auto_id }}">
    <span id="description-label" data-toggle="popover" data-placement="top"
         data-content="Describe in a few words what you are offering"
         data-container="#description-label">
         {{ form.description.label }}*
    </span>
  </label>
  <div class="controls">
    {% render_field form.description class="input-xxlarge" rows=5 %}
    <div class="text-error">{{ form.description.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.type_of.auto_id }}">
    <span id="type-of-label"
          data-toggle="popover" data-placement="top"
          data-content="{{ form.type_of.help_text }}"
          data-container="#type-of-label">
      {{ form.type_of.label }}
    </span>
  </label>
  <div class="controls">
    {{ form.type_of }}
    <div class="text-error">{{ form.type_of.errors }}</div>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="{{ form.status.auto_id }}">
    {{ form.status.label }}
    </label>
  <div class="controls">
    {% if form.status.value == catalogue.DRAFT %}
      {{ form.status|attr:"data-readonly:readonly" }}
    {% else %}
      {{ form.status }}
    {% endif %}
    <div class="text-error">{{ form.status.errors }}</div>
  </div>
</div>
