{% extends "layout.html" %}
{% load widget_tweaks %}

{% block content %}

  {% if object %}
    <h2>{{ object.title }}</h2>
  {% else %}
    <h2>New category</h2>
  {% endif %}

  {% if object %}
    <div class="actions">
      <a href="{% url 'settings:categories_delete' pk=object.handle %}" class="btn btn-danger">Delete</a>
    </div>
  {% endif %}

  <form id="category-form" method="POST" role="form">

    {% csrf_token %}

    <div class="form-group">
      <div class="row">
        <div class="col-md-9">
          {{ form.title.label_tag }}
          {% if form.title.field.required %}
            <span class="required">*</span>
          {% endif %}

          {% render_field form.title class='form-control' %}
          {% if form.title.errors %}
            <p class="text-danger">
              <small>{{ form.title.errors.0 }}</small></p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="form-group form-footer" style="margin-bottom: 0">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>

  </form>

{% endblock %}
