{% extends "layout.html" %}


{% block content %}

  <p>The following users are known by the system and have a subscription
    status.</p>

  <table class="table">
    <thead>
    <tr>
      <th>User id</th>
      <th>Subscription</th>
    </tr>
    </thead>
    {% for notification_user in notification_users %}
      {% if notification_user.user_id %}
      <tr>
        <td>{{ notification_user.user_id }}</td>
        <td>{% if notification_user.subscribed %}SUBSCRIBED{% else %}
          UNSUBSCRIBED{% endif %}</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endblock %}
