HOSTNAME = 'http://live-catalogue.dev'

SKIP_EDIT_AUTHORIZATION = True

USER_ID = '' # eionet user
USER_GROUPS = ['Administrator']
USER_ROLES = []

DEBUG = True

ALLOWED_HOSTS = ('*', '127.0.0.1')

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

LDAP_DATA = {
    'LDAP_SERVER': '',
    'LDAP_USER_DN_PATTERN': '',
    'LDAP_TIMEOUT': 10,
}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'live_catalogue',
        'USER': '',
        'PASSWORD': '',
    }
}

# FRAME_URL = 'http://projects.eionet.europa.eu/flis-services-project/flis_templates/frame'
